<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="selectedItem" class="selection">
    <div>{{selectedItem.$key}}</div>
    <div>{{selectedItem.firstName}}</div>
    <div>{{selectedItem.lastName}}</div>
  </div>
  <ion-input type="text" #firstName placeholder="firstname"></ion-input>
  <ion-input type="text" #lastName placeholder="lastname"></ion-input>

  <button ion-button color="dark" (click)="update(firstName.value, lastName.value)">Edit Person</button>
</ion-content>